* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #59193e;
  color: rgb(255, 230, 250);
  padding: 12px 20px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.header a {
  text-decoration: none;
  margin-left: 15px;
}
.header a:hover {
  color: rgb(255, 251, 251);
}
.conten-logo {
  display: flex;
  align-items: center;
}
.img-logo {
  width: 100px;
}
.hero {
  border-top: 7px solid rgb(0, 0, 0);
  margin-top: 0px;
  text-align: center;
  padding: 30px 20px;
  background-color: #59193e;
  color: rgb(34, 21, 3);
}
.hero h1 {
  color: #ff97e0;
}
.hero p {
  color: #e8bad5;
}
.btn {
  margin-top: 20px;
  padding: 20px 30px 20px 30px;
  background-color: #df66ac;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15%;
}
.btn:hover {
  background-color: #cb5d9d;
  color: rgb(0, 0, 0);
  padding: 23px 33px 23px 33px;
  transition: 250ms;
}
.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  width: 300px;
  background: rgb(161, 10, 10);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.tarjeta:hover {
  transform: scale(1.05);
}

/* Imagen */
.tarjeta img {
  width: 100%;
  border-radius: 10px;
}

/* Título */
.tarjeta h3 {
  color: #9f778f;
  margin: 15px 0 10px;
}

/* Texto */
.tarjeta p {
  color: #666;
  font-size: 14px;
}

/* Botón */
.tarjeta button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.tarjeta button:hover {
  background: #0056b3;
} /* Tarjeta básica */
.tarjeta {
  width: 300px;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.tarjeta:hover {
  transform: scale(1.05);
}

/* Imagen */
.tarjeta img {
  width: 100%;
  border-radius: 10px;
}

/* Título */
.tarjeta h2 {
  color: #333;
  margin: 15px 0 10px;
}

/* Texto */
.tarjeta p {
  color: #f8f8f8;
  font-size: 14px;
}

/* Botón */
.tarjeta button {
  background-color: #ff97e0;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.tarjeta button:hover {
  background: #fb77cf;
}
.video-seccion {
  border-top: 7px solid rgb(0, 0, 0);
  background-color: #59193e;
  padding: 15px;
}
.video-seccion video {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 2px auto;
  border-radius: 25px;
  padding: 15px;
}
.video-seccion h1 {
  text-align: center;
  color: #e8e7f4;
  padding: 2px;
  margin-top: 2px;
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
}
.contenedor {
  border-top: 7px solid black;
  background-color: #59193e;
}
.tarjeta {
  background-color: rgb(38, 10, 28);
}
.footer {
  margin-top: 0px;
  text-align: center;
  padding: 30px 20px;
  border-top: 7px solid rgb(0, 0, 0);
  background-color: #59193e;
  color: #f6e5ef;
}
.footer h3 {
  color: #ff97e0;
  padding: 0px 0px 30px 0px;
}
.barra {
  width: 700px;
  background-color: rgb(38, 10, 28);
  border-radius: 15px;
  padding: 20px 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
  margin-top: 10px;
}
.barra a {
  margin-right: 30px;
  color: #9f778f;
  text-decoration: none;
}
.info {
  width: 90%;
  background: rgb(38, 10, 28);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  display: flex;
}
.info a {
  text-decoration: none;
  color: #e8bad5;
  text-align: right;
  font-size: 120%;
}
.ubicacion {
  text-align: left;
  width: 50%;
}
.ubicacion p {
  font-family: "Times New Roman", Times, serif;
  font-size: 130%;
}
.ubicacion img {
  width: 90%;
}
.enlace {
  text-align: right;
  display: block;
  width: 50%;
}
.enlace a {
  text-decoration: none;
  color: #e8bad5;
  margin-bottom: 10px;
  text-align: right;
  font-size: 120%;
  display: block;
}
.enlace h2 {
  margin-bottom: 30px;
}
.contacto {
  text-align: right;
  display: block;
  width: 50%;
}
.contacto a {
  text-decoration: none;
  color: #e8bad5;
  margin-bottom: 10px;
  text-align: right;
  font-size: 120%;
}
.contacto h3 {
  margin-bottom: 0;
}
.contacto h2 {
  margin-top: -30px;
  margin-bottom: 40px;
}
.sigue {
  width: 50%;
}
.sigue a img {
  width: 27px;
  height: 27px;
  margin-right: 5px;
}
.icons {
  color: #ed53ad;
}
.pago {
  width: 90%;
  background: rgb(38, 10, 28);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  display: flex;
}
/* CLASES GENERAL */
@general;
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion p {
  color: #efe2e6;
}
.bg-red {
  background-color: red;
}
.flex-right {
  display: flex;
  justify-content: right;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.dis-block {
  display: block;
}
